################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/electro market/FileContentIndex/1bab4746-88e1-428b-bbd9-fe24ae8b7a2a.vsidx
/.vs/electro market/FileContentIndex
/.vs/electro market/v17/ipch/AutoPCH/b52327746c8a70b2
/.vs/electro market/v17/.wsuo
*.db-wal
*.opendb
/.vs/electro market/v17/DocumentLayout.json
*.db
*.db-shm
/.vs/electro market/v17/DocumentLayout.backup.json
