
 body{
     font-family:"Open Sans", sans-serif;
 }
 .home-header{
     width:100vw;
     height:120px;
     position:fixed;
     top:0;
     left:0;
     right:0;
     bottom:0;
     background-color : white;
     z-index:10;

 }
 nav hr{
     margin-top:-16px;
     height:3px;
     background-color:gray;
     border:none;
 }
 .nav-list-1,.nav-list-2{
     display:flex;
 }
 ul li{
     list-style-type: none;
 }
 ul li a{
     text-decoration: none;
 }
 ul li a:link{
     color:black;
 }
 ul li a:visited{
     color:black;
 }
 .nav-item-top{
     margin-left: 60px;
 }
 .nav-item-bottom{
     margin-left:80px;
 }
 .logo-img{
     margin-right:300px;
 }
 .nav-content :hover{
    
     text-decoration:underline;
     text-underline-offset: 5px;
 }
 .nav-content h5{
     display:inline;
 }
 .nav-search{
     margin-left:100px;
     width:220px;
     height:25px;
 }
 .user-profile-icon{
     margin-left:10px;
 }
 .wishlist,.cart{
     margin-left:20px;
 }
 .trending{
     margin-left: 300px;
 }
 .nav-item-bottom:hover{
     text-decoration:underline 2px;
     text-underline-offset: 13px;            
 }
 .section1{
     width:100vw;
     height: 300px;
     position:absolute;
     top:110px;
     left:0;
     right:0;
     bottom:0;
     z-index: -1;
     background-color: green;
 }
 .carousel-images{
     display: flex;
     animation: slide 10s infinite;
     
 }
 .carousel-images img{
     width:100vw;
     height: 300px;
     flex-shrink: 0;
 }
 @keyframes slide{
     0%,25%{transform: translateX(0);}
     30%,57%{transform: translateX(-100%);}
     62%,90%{transform: translateX(-200%);}
     95%,100%{transform: translateX(0);}
 }
 .section2{
     width:100vw;
     height:300px;
     position:absolute;
     top:410px;
     left:0px;
     background-color: #f5f5f5;
     z-index: -1;
 }
 .section2-maindiv{
     padding-top:30px;
 }
 .quote1{
     font-size: 50px;
     font-weight: bold;
     margin-left:440px;
     display: inline;
     font-family: 'Times New Roman', Times, serif;
 }
 .quote2{
     font-size: 25px;
     font-family:Arial, Helvetica, sans-serif;
     display: inline;
     margin-left: 575px;
     line-height: 3;
 }
 .section2-list{
     display: flex;
     padding-left:200px;
     padding-right:200px;
     justify-content: space-around;
 }
 .section2-list li{
     font-weight: bold;
 }
 .section2-list li img{
     margin-right:5px;
 }
 .section3{
     width:100vw;
     height:2200px;
     right:0;
     position:absolute;
     top:710px;
     left:0;
     z-index: -1;
     background-color: #f5f5f5;
 }
 .section3 #trending{
     font-family: 'Times New Roman', Times, serif;
     margin-left:150px;
     font-weight: bold;
     font-size: 40px;
     scroll-margin-top: 150px;
 }
 .section3-content{
     width:100vw;
     height:400px;
     display: flex;
     justify-content: space-around;
    
 }
 .card{
     width:250px;
     height:330px;
     background-color: #fafbfb;
     margin-left: 40px;
     border-radius: 15px;
 }
 .card-img{
     width:90%;
     height:180px;
     margin-left:10px;
 }
 .card-description{
     padding-left:30px;
     padding-right:30px;
     width:90%;
     height:140px;
     margin-left:10px;
     line-height: 0.5;
 }
 .card:hover{
     box-shadow: 1px 1px 9px rgb(190, 187, 187);
 }
 .section5-content .card:hover {
    box-shadow: 1px 1px 9px rgb(190, 187, 187) !important;
}
 .card-img img{
     background-size: cover;
     width:150px;
     height:150px;
     margin-top:15px;
     margin-left:40px;
 }
 .galaxy-s24-ultra{
     margin-left:170px;
 }
 .iphone-16-pro-max{
     margin-right:170px;
 }
 .card-description .feature{
     color:rgb(107, 103, 103);
 }
 .card-description h5,h6{
     display: inline;
 }
 .wishlist-icon img{
     display: none;
     height:30px;
     width:30px;
     position: relative;
     bottom:1px;
 }
 .cart-button{
     text-decoration: none;
     
     
 }
 .cart-button{
     display: none;
     background-color: rgb(88, 217, 88);
     border:none;
     color:white;
     width:100px;
     height:30px;
     font-size: 15px;
     font-weight: bold;
     border-radius:6px;
     position: relative;
     bottom:11px;
     left:15px;
    
 }
 .card:hover .wishlist-icon img,
 .card:hover .cart-button
 {
     display: inline;
 }
 .price img{
     width:10px;
     height:13px;
     position:relative;
     top:1px;
 }

 .section4-content{
     position:relative;
     top:100px;
     width:100vw;
     height:auto;
     display: flex;
     justify-content: space-around;
 }
 .section5-content{
     position:relative;
     top:200px;
     width:100vw;
     height:auto;
     display: flex;
     justify-content: space-around;
 }
 .section6-content{
     position:relative;
     top:300px;
     width:100vw;
     height:auto;
     display: flex;
     justify-content: space-around;
 }
 .user{
     position:relative;
     left:90px;
 }
 footer{
     width:99.5vw;
     height:400px;
     position:absolute;
     left:0;
     right:0;
     top:2900px;
     display:flex;
     justify-content:space-around;
     padding-top:50px;
     background-color:#d3d3d3;
 }
 .quicklinks,.customer-service,.social-media{
     width:220px;
     height:300px;
 }
 footer div>h4{
     text-align:center;
     font-weight:bold;
 }
 footer div>ul li{
     list-style-type:disc;
 }
 .footer-quicklink-list{
     flex:none;
 }
 .footer-quicklink-list li{
     margin-left:40px;
 }
 .footer-quicklink-list li a:hover,
 .footer-social-list li a:hover,
 .footer-customer-list li a:hover,
 .footer-contact-list li a:hover{
     text-decoration:underline;
     text-underline-offset:2px;
 }
.footer-customer-list li{
    margin-left:23px;
}
.footer-social-list{
    margin-left:38px;
}
.contact-info{
    width:280px;
    height:300px;
    margin-left:-60px;
}
footer .contact-info h4{
    text-align:left;
    margin-left:24px;
}
.best-selling-smartphones{
    margin-bottom:50px;
    width:100vw;
    height:80px;
}
.best-selling-laptops {
    margin-bottom:-60px;
    width: 100vw;
    height: 80px;
}
.best-selling-smartphones h3,
.best-selling-laptops h3,
.best-selling-tablets h3,
.best-selling-smartwatches h3{
    margin-left: 180px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}
.best-selling-tablets{
    margin-top:160px;
    width:100vw;
    height:80px;
    margin-bottom:-140px;
}
.best-selling-smartwatches{
    margin-top:240px;
    width:100vw;
    height:80px;
    position:relative;
    margin-bottom:-260px;
}
.about-section1 {
    width: 99vw;
    height: 350px;
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    background-color: gray;
    text-align: center;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #f5f5f5;
    z-index:-1;
}
.about-section1 h1{
    position:relative;
    top:80px;
    font-size:50px;
    font-weight:bold;
}
.about-section1 h6{
    position:relative;
    top:80px;
    font-size:25px;
    font-weight:bold;
}
.about-section2 {
    position: relative;
    width: 99vw;
    height: 350px;
    left: 0;
    right: 0;
    top: 150px;
    background-color: #a9a9a9;
    z-index: -1;
}
.about-section2-div1, .about-section3-div1 {
    width: 65vw;
    height: 250px;
    position: relative;
    top: 50px;
    left: 130px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    z-index: -1;
}
.about-section2-div1 h2,.about-section3-div1 h3,.about-section4-div1 h2{
    font-size:30px;
    font-weight:bold;
}
.about-section2-div1 p,.about-section3-div1 p{
    font-size:20px;
    font-weight:bold;
}
.about-section3 {
    width: 99vw;
    height: 350px;
    position: relative;
    left: 0;
    right: 0;
    top: 250px;
    background-color: gray;
    z-index:-1;
}
.about-section3-div1 {
    color: #f5f5f5;
}
.about-section3-div1 p{
    margin-top:60px;
}
.about-section4 {
    width: 99vw;
    height: 350px;
    position: relative;
    left: 0;
    right: 0;
    top: 350px;
    background-color: #a9a9a9;
    z-index: -1;
}
.about-section4-div1{
    padding-top:40px;
}
.about-section4-div1 h4{
    position:relative;
    top:20px;
}

.about-footer{
   position:relative;
   top:450px;
}
.searchicon{
    position:relative;
    top:5px;
    right:35px;
}
.service-section1{
    position:relative;
    left:-5px;
    right:0;
    margin-top:120px;
    width:94%;
    height:350px;
    padding-top:30px;
    padding-left:80px;
    z-index:-1;
   
}
.service-section1-content {
    width: 45vw;
    height: 300px;
    float: left;
    margin-left: 20px;
    border-radius: 20px;
}
.service-section1-img {
    width: 30vw;
    height: 300px;
    margin-left: 800px;
    border-radius: 20px;
}
.service-section2 {
    position: relative;
    left: -5px;
    right: 0;
    margin-top: 100px;
    width: 98%;
    height: 350px;
    padding-top: 30px;
    padding-left: 20px;
    z-index: -1;
  
}

.service-section2-img {
    width: 30vw;
    height: 300px;
    margin-left: 80px;
    float: left;
    border-radius: 20px;
    position:relative;
    top:20px;
}
.service-section2-content {
    width: 45vw;
    height: 300px;
    margin-left: 650px;
    border-radius: 20px;
}
.service-section1 div h2{
    text-align:center;
    font-weight:bold;
}
.service-section2 div h2 {
    text-align: center;
    font-weight: bold;
    position:relative;
    top:25px;
}
.service-section1 div img {
    background-size: cover;
    border-radius: 18px;
}
.service-section2 div img{
    background-size:cover;
    border-radius:18px;
}
.service-section1-content,.service-section2-content{
    background-color:gray;
    color:white;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}
.service-section1-content p{
    margin-left:40px;
    margin-right:40px;
}
    .service-section2-content p {
        margin-left: 40px;
        margin-right: 40px;
       
    }
.service-footer{
    position:relative;
  top:100px;
}
.contact-section1{
    width:89vw;
    height:500px;
    position:relative;
    left:-10px;
    top:190px;
    padding-top:50px;
    padding-left:155px;
}
.contact-section1-info {
    width: 43%;
    height: 450px;
    float: left;
    border-radius: 10px;
    background-color: darkgray;
}
.contact-info-form {
    width: 38%;
    height: 415px;
    margin-top: 0px;
    margin-left: 600px;
    border-radius: 10px;
    background-color: darkgray;
    padding-left: 100px;
    padding-top: 30px;
}
.contact-section1 div h2{
    text-align:center;
    font-weight:bold;
    font-size:30px;
}
.contact-footer{
    position:relative;
    top:250px;
}
.contact-us-info{
    width:70%;
    height:400px;
    margin-left:80px;
    font-size:20px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif; 
}
.contact-us-info a{
    text-decoration:none;
    margin-left:20px;
}
.contact-us-info .address{
    margin-left:20px;
}
.address{
    display:inline;    
}
.feel-free-contact{
    margin-left:30px;
    margin-top:-10px;
}
.contact-us-info a:link{
    color:black;
}
.lastname{
    margin-left:30px;
}
.input-email,.message{
    width:380px;
}
.contact-info-form h2{
    margin-right:70px;
}
.contact-info-form form .firstname,.lastname,.input-email{
    height:30px;
}
.message{
    height:80px;
}
.contact-submit-button{
    margin-left:160px;
    background-color:limegreen;
    color:white;
    height:25px;
    width:70px;
    border:none;
    border-radius:3px;
}
.contact-us-heading {
    display:inline-block;
    margin-left:170px;
    margin-top:55px;
}

.userlogin-section1 {
    width: 100vw;
    position: relative;
    height: 120px;
    left: -10px;
}
.userlogin-body{
    background-color:#f5f5f5;
}
.userlogin-section1 h5{
    display:inline;
  
}
.userlogin-section1 a{
    margin-left:100px;
    text-decoration:none;
}
.userlogin-section1 a:link {
    color: gray;
}
.userlogin-section1 a:visited{
    color:gray;
}
.userlogin-section1-div1 {
    width: 50px;
    height: 50px;
    margin-left:20px;
    margin-top:20px;
   
   
}
.userlogin-section2 {
    width: 98vw;
    height: 548px;
    margin-top: 40px;
    position: relative;
    left: 0;
    right: 0;
    background-color: #B9BABB;
    padding-top: 30px;
}
.userlogin-section2 h2{
    text-align:center;
}
.loginform{
    width:60%;
    height:400px;
    margin-left:300px;
}
.em-input,.pwd-input{
    width:400px;
    height:30px;
}
#remember-me{
   margin-right:8px;
    font-size:12px;
}
.new-user{
    font-size:12px;
    text-decoration:none;
}
.new-user:link{
    color:black;
}
.new-user:visited {
    color: black;
}
.forgot-password{
    text-decoration:none;
    margin-left:210px;
}
.forgot-password:link{
color:black;
}
.forgot-password:visited{
    color:black;
}
.forgot-password:hover{
    text-decoration:underline;
}
.login-button {
    background-color: limegreen;
    color: white;
    height: 25px;
    width: 70px;
    border: none;
    border-radius: 3px;
}
.or{
    font-weight:bold;
}
.google-text, .apple-text {
    display: inline;
   position:relative;
   top:5px;
   margin-right:100px;
}
.google, .apple {
    width: 400px;
    height: 30px;
}
.google img{
    float:left;
    margin-top:5px;
    margin-left:100px;
}
.apple img {
    float: left;
    margin-top: 5px;
    margin-left: 100px;
}
.userlogin-section1-home{
    left:100px;
    position:relative;
}
.register-header{
    width:100vw;
    height:85px;
    position:relative;
    left:-10px;
    top:-5px;
}
.register-section1 {
    width: 100vw;
    height: 50px;
    position: relative;
    left: -10px;
}
.register-section2 {
    width: 88vw;
    height: 450px;
    position: relative;
    left: -10px;
    padding: 80px;
    background-color: #B9BABB;
}
.register-section2-signup {
    width: 40%;
    height: 450px;
    margin-left: 700px;
    border-radius: 20px;
    background-color:#f5f5f5;
    margin-top:-30px;
}
.userlogin-section1-home a{
    text-decoration:none;
}
.userlogin-section1-home a:link{
    color:gray;
}
.userlogin-section1-home a:visited {
    color: gray;
}
.signup-heading{
    font-weight:bold;
    margin-top:30px;
    font-size:25px;
}
.signup-form form input{
    height:25px;
}
.em-ph{
    width:400px;
    width:350px;
}
.register-body{
    background-color:#f5f5f5;
}
.register-section2-slideshow {
    width: 40%;
    height: 450px;
    float: left;
    margin-left: 150px;
    border-radius: 20px;
    display: flex;
    animation: signup 20s infinite ease-in-out;
    background-size: cover;
    background-position: center;
}
@keyframes signup{
    0% {
        background-image: url("../images/slideshow/sl1.jpg");
    }
    30% {
        background-image: url("../images/slideshow/sl2.jpg");
    }
    60% {
        background-image: url("../images/slideshow/sl3.jpg");
    }
    100% {
        background-image: url("../images/slideshow/sl4.jpg");
    }
    
}
.more {
    position: relative;
    font-size: 12px;
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
    position:relative;
    top:10px;
    border:none;
    width:60px;
    height:20px;
}
.wishlist-section1 {
    width: 100vw;
    position: relative;
    left: -10px;
    height: 110px;
    top: 80px;
    background-color: #f5f5f5;
    line-height:10px;
}
.wishlist-section1 h2{
    margin-left:150px;
    margin-top:30px;
    font-weight:bold;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
}
.wishlist-section1-home{
    margin-left:223px;
}
.wishlist-section1-home a{
    text-decoration:none;
}
.wishlist-section1-home a:link {
    color: gray;
}

.wishlist-section1-home a:visited {
    color: gray;
}
.wishlist-section1-home h5{
    display:inline;
}
.wishlist-section2 {
    width:70vw;
    height:150px;
    position:relative;
    left:200px;
    background-color:white;
    border-radius:10px;
    margin-top:50px;
}
.wishlist-image{
    width:100px;
    height:100px;
    margin-top:25px;
    margin-left:20px;
    float:left;
}
.wishlist-image img{
    width:100px;
    height:100px;
}
.wishlist-content{
    width:500px;
    height:100px;
    margin-top:25px;
    margin-left:30px;
    float:left;
}
.wishlist-add-to-cart{
    width:150px;
    height:100px;
    position:relative;
    top:25px;
    margin-left:750px;
}
.wishlist-button{
    background-color:limegreen;
    color:white;
    margin-top:40px;
    border:none;
    width:150px;
    height:30px;
    font-size:13px;
    font-weight:bold;
    border-radius:5px;
}
.wishlist-section2:hover {
    box-shadow: 2px 2px 10px rgb(190, 187, 187);
}
.wishlist-body {
    background-color:#f5f5f5;
}
.in-stock,.out-stock{
    font-size:11px;
    font-weight:bold;
    margin-left:20px;
}
.in-stock{
    color:forestgreen;
}
.out-stock{
    color:red;
}
.product-detail{
    margin-left:20px;
    font-size:15px;
    font-weight:bold;
    line-height:18px;
}
.wishlist-header {
    width: 100vw;
    position: fixed;
    z-index: 10;
    height: 80px;
    left: -10px;
    top: 0px;
    background-color: #f5f5f5;
}
.wishlist-section1{
    position:fixed;
    z-index:10;
}
.wishlist-main-section{
    width:98vw;
    height:1250px;
    position:relative;
    top:230px;
}
.go-to-cart button {
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: limegreen;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border:none;
    float:right;
    margin-right:313px;
}
.cart-header {
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color:#f5f5f5;
}
.cart-section1 {
    width: 55vw;
    height: 100px;
    margin-left: 150px;
    position: fixed;
    top: 100px;
    float: left;
    z-index: 10;
    background-color:#f5f5f5;
}
.cart-section2 {
    width: 25vw;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 950px;
    z-index: 10;
    border-radius: 10px;
}
.cart-section3{
    width:55vw;
    height:800px;
    position:relative;
    top:195px;
    left:150px;
    
}
.cart-section4{
    width:25vw;
    height:70px;
    position:fixed;
    top:600px;
    left:950px;
    z-index:10;
}
.cart-section4 a:link{
    color:black;
}
.cart-section4 a:visited{
    color:black;
}
.cart-section4 a{
    text-decoration:none;
}
.cart-section4 a h4:hover{
    text-decoration:underline;
    text-underline-offset:5px;
}
.cart-section4 a h4{
    text-align:center;
}
.cart-section1 h2{
    font-size:35px;
    font-weight:bold;
    display:inline;
    font-family:'Times New Roman', Times, serif;
    position:relative;
    top:20px;
}
.cart-section1 .cart-item-count{
    margin-left:380px;
}
.cart-section2 h2 {
    font-size: 35px;
    font-weight: bold;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 20px;
}
.cart-title{
    margin-left:30px;
}
.order-summary{
    margin-left:50px;
}
.hr1,.hr2{
    height:1px;
    border:none;
    background-color:lightgray;
    margin-top:35px;
}
.hr1{
    width:720px;
}
.hr2{
    width:250px;
}
.cart-table{
    width:790px;
    border-collapse:separate;
    border-spacing: 0px 60px;

}
.cart-table-img{
    width:70px;
    height:80px;
   
    float:left;
}
.cart-table-heading{
    width:55%;
    height:50px;
    position:fixed;
    background-color:#f5f5f5;
    margin-top:-10px;
    padding-top:10px;
    z-index:10;   
}
.cart-table-heading h4{
    display:inline;
}
.table-heading-product-details {
    width: 300px;
    height: 50px;
   
    float: left;
    text-align: center;
}
.table-heading-quantity {
    width: 155px;
    height: 50px;
    
    float: left;
    text-align: center;
}
.table-heading-price {
    width: 155px;
    height: 50px;
   
    float: left;
    text-align: center;
}
.table-heading-total{
    width:160px;
    height:50px;
   
    float:left;
    text-align:center;
}
.prod-det{
    width:295px;
    height:80px;
  
}
.qty{
    width:150px;
    height:80px;
   
}
.qty input{
    width:50px;
    height:20px;
    margin-left:70px;
    border:none;
    
}
.prc{
    width:150px;
    height:50px;
   
}
.ttl{
    width:155px;
    height:80px;
   
}
.prod-det img{
    width:70px;
    height:80px;
}
.cart-table-product-details{
   position:relative;
   left:30px;
   top:10px;
}
.cart-table tr:hover{
    box-shadow: 2px 2px 10px rgb(190, 187, 187);
}
.cart-table tr{
    border-radius:10px;
}
.cart-body{
    background-color:#f5f5f5;
}
.cart-section4 img{
    position:relative;
    top:43px;
    left:70px;
}
.cart-table img{
    border-radius:10px;
}
.cart-section2 h4{
    margin-left:60px;
    line-height:25px;
}
.cart-section2:hover{
    box-shadow:2px 2px 10px rgb(190,187,187);
}
.proceed-button {
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: limegreen;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-left:100px;
}